In [1]:
import pandas as pd
import numpy as np
# pandas : Series, DataFrame
# Series는 numpy의 1차원 데이터와 굉장히 유사. 차이점은 Series는 index가 있음
# 시리즈 = 데이터 + 인덱스

# DataFrame : numpy의 2차원 array와 유사. 차이점은 index가 있음
# 데이터프레임(:= 엑설) = 데이터(2차원) + 행 인덱스 + 열 인덱스

In [5]:
lst = [1,2,3]
# np.array(lst)
pd.Series(lst)

0    1
1    2
2    3
dtype: int64

In [7]:
s = pd.Series([10, 20, 30, 40,])
s

0    10
1    20
2    30
3    40
dtype: int64

In [9]:
s = pd.Series([10, 20, 30, 40,], index=['월', '화', '수', '목'])
s # 시리즈 타입 : 시계열 데이터를 사용하기 위함

월    10
화    20
수    30
목    40
dtype: int64

In [14]:
pd.Series(list(range(1,5)))
pd.Series(np.arange(1,5))

0    1
1    2
2    3
3    4
dtype: int32

In [16]:
s2 = pd.Series(np.arange(1,5))
s2

0    1
1    2
2    3
3    4
dtype: int32

In [19]:
s2.astype('int64')
# s2.astype('float64')

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
s.index
s.values

array([10, 20, 30, 40], dtype=int64)

In [30]:
s.index.name = 'day'
s.name = 'ten'
s

day
월    10
화    20
수    30
목    40
Name: ten, dtype: int64

In [32]:
s/10 # numpy와 같은 연산이 가능

day
월    1.0
화    2.0
수    3.0
목    4.0
Name: ten, dtype: float64

In [34]:
s['월']

10

In [46]:
s[2] # 권장하지 않는 방법

C:\Users\wag19\AppData\Local\Temp\ipykernel_476\281213744.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2] # 권장하지 않는 방법

30

In [43]:
s.iloc[-1] # 파이썬 인덱싱과 유사

40

In [47]:
s.loc['목'] # 인덱스의 명칭을 지정해줘야 함

40

In [50]:
s.iloc[[1,2]] # 리스트 형식으로 묶어야 함

day
화    20
수    30
Name: ten, dtype: int64

In [52]:
s.iloc[1:3]

day
화    20
수    30
Name: ten, dtype: int64

In [55]:
s.loc[['목','월','수']] # 순서 변경 가능

day
목    40
월    10
수    30
Name: ten, dtype: int64

In [58]:
s[s>=30] # boolean 참조 가능

day
수    30
목    40
Name: ten, dtype: int64

In [62]:
s = pd.Series({"서울": 9904312, "부산": 3448737, "인천": 2890451, "대구": 2466052},
              index=['대구','인천','부산','서울'])

s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158},
              index=['대전','인천','부산','서울'])
s2

대전    1490158
인천    2632035
부산    3393191
서울    9631482
dtype: int64

In [64]:
s2 - s # NaN : Not a Number
# s2에는 대전이 있는데 s엔 대전이 없어서 NaN으로 뜸
# NaN이 들어가면 dtype이 float64로 변경됨(NaN == float)

대구         NaN
대전         NaN
부산    -55546.0
서울   -272830.0
인천   -258416.0
dtype: float64

In [67]:
for k, v in s2.items(): # dict와 유사한 사용이 가능
    print(k,v)

대전 1490158
인천 2632035
부산 3393191
서울 9631482

In [85]:
# 서울 부산 인천 도시의 인구 감소율(%) 출력
((s[1:] - s2[1:]) / s2[1:])*100
((s-s2)/s2*100)[2:]

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [89]:
s3 = ((s-s2)/s2*100)[2:]
del s3['서울']
s3

부산    1.636984
인천    9.818107
dtype: float64

In [90]:
obj = pd.Series([4,6,-3,2])
obj

0    4
1    6
2   -3
3    2
dtype: int64

In [96]:
print(obj.array)
print(obj.index)

<NumpyExtensionArray>
[4, 6, -3, 2]
Length: 4, dtype: int64
RangeIndex(start=0, stop=4, step=1)

In [3]:
obj2 = pd.Series([4,6,-3,2], index= ['d','a','c','b'])
obj2

d    4
a    6
c   -3
b    2
dtype: int64

In [100]:
obj2.sort_index()

a    6
b    2
c   -3
d    4
dtype: int64

In [102]:
obj2.sort_values()

c   -3
b    2
d    4
a    6
dtype: int64

In [13]:
obj2.sort_values(ascending=False) # True False로 오름/내림차순 정렬
obj2.sort_values(ascending=False, inplace=True) # 변수에 자동 적용  ??
obj2

a    6
d    4
b    2
c   -3
dtype: int64

In [115]:
obj2['d'] = 10
obj2

d    10
a     6
b     2
c    -3
dtype: int64

In [117]:
obj2[obj2>5]

d    10
a     6
dtype: int64

In [121]:
# 인덱스 검색 방법
'b' in obj2
# 2 in obj2 / 2는 벨류라 검색 안됨

True

In [123]:
obj2 # a:6 , d:10

d    10
a     6
b     2
c    -3
dtype: int64

In [125]:
obj2.to_dict()

{'d': 10, 'a': 6, 'b': 2, 'c': -3}

In [128]:
obj3 = pd.Series({'d': 10, 'a': 6, 'b': 2, 'c': -3, 'e':np.NaN})
obj3

d    10.0
a     6.0
b     2.0
c    -3.0
e     NaN
dtype: float64

In [137]:
obj3.notnull()  # null이 아니면 True
obj3.notna()
pd.notnull(obj3)
pd.notna(obj3)

obj3.isnull()   # null이면 True
obj3.isna()
pd.isnull(obj3)
pd.isna(obj3)

d    False
a    False
b    False
c    False
e     True
dtype: bool

In [ ]:
#