In [1]:
# 위의 데이터셋을 이용하여, 문제 풀기
import pandas as pd 
# 1. iloc, loc 속성으로 각각 행 데이터 추출
df.iloc[0:]
df.loc[0:]

# 2. 열 단위 데이터 추출
df.T
# 3. year, pop 데이터만 추출
pd.DataFrame(df,columns=['year', 'pop'])
# 4. country, continent, year 데이터 추출
pd.DataFrame(df,columns=['country','continent','year'])
# 5. continent, year, country 데이터 추출
pd.DataFrame(df,columns=['continent','year', 'country'])
# iloc, loc을 사용하여 자유자재로 추출
df['continent'].iloc[0:3]
df['country'].iloc[0:3]

NameError: name 'df' is not defined

In [2]:
# 행과 열에 라벨을 가지는 5x5 이상의 크기를 가지는 데이터 프레임을 생성
# 10가지 이상의 방법으로 특정한 행과 열을 선택하기
# 데이터셋은 자유롭게 생성(성적, 국가 데이터, 주식, 의료 데이터 등 다양하게 활용 혹은 생성)

import pandas as pd
import numpy as np

data = {"날짜": ['08.03', '08.04', '08.05', '08.06', '08.07'],
        "요일": ['토','일','월','화','수'],
        "날씨": ['구름조금','구름조금/비','구름많음/비','구름많음','구름조금'],
        "최저기온": [26,24,23,23,23],
        "최고기온": [34,35,34,32,34]
        }
frame = pd.DataFrame(data)
frame

      날짜 요일      날씨  최저기온  최고기온
0  08.03  토    구름조금    26    34
1  08.04  일  구름조금/비    24    35
2  08.05  월  구름많음/비    23    34
3  08.06  화    구름많음    23    32
4  08.07  수    구름조금    23    34

In [3]:
frame.head(3)

      날짜 요일      날씨  최저기온  최고기온
0  08.03  토    구름조금    26    34
1  08.04  일  구름조금/비    24    35
2  08.05  월  구름많음/비    23    34

In [5]:
frame.head().T

          0       1       2      3      4
날짜    08.03   08.04   08.05  08.06  08.07
요일        토       일       월      화      수
날씨     구름조금  구름조금/비  구름많음/비   구름많음   구름조금
최저기온     26      24      23     23     23
최고기온     34      35      34     32     34

In [7]:
frame['날짜']
frame.날짜

0    08.03
1    08.04
2    08.05
3    08.06
4    08.07
Name: 날짜, dtype: object

In [8]:
frame.최고기온 >= 34

0     True
1     True
2     True
3    False
4     True
Name: 최고기온, dtype: bool

In [9]:
frame['날씨'].iloc[2]

'구름많음/비'

In [10]:
frame.T[:3]

        0       1       2      3      4
날짜  08.03   08.04   08.05  08.06  08.07
요일      토       일       월      화      수
날씨   구름조금  구름조금/비  구름많음/비   구름많음   구름조금

In [11]:
pd.DataFrame(data, columns=['날짜','최고기온','최저기온'])

      날짜  최고기온  최저기온
0  08.03    34    26
1  08.04    35    24
2  08.05    34    23
3  08.06    32    23
4  08.07    34    23

In [12]:
pd.DataFrame(data, columns=['날짜','날씨']).T

        0       1       2      3      4
날짜  08.03   08.04   08.05  08.06  08.07
날씨   구름조금  구름조금/비  구름많음/비   구름많음   구름조금

In [13]:
frame=='구름조금'

      날짜     요일     날씨   최저기온   최고기온
0  False  False   True  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False   True  False  False

In [14]:
(pd.DataFrame(data, columns=['날짜','날씨']) == '구름조금')

      날짜     날씨
0  False   True
1  False  False
2  False  False
3  False  False
4  False   True