In [114]:
# 1. 개의 숫자를 입력으로 받고 3개의 숫자 중에 중간값을 가지는 숫자를 출력하세요.
# ex1) 2, 5, 3 => 3 ex2) 4, 6, 4 => 4
lst = [2, 5, 3]
print(sorted(lst)[1])

3

In [130]:
# 2.
# 숫자 형태의 문자열을 콤마가 포함된 금액 표기식 문자열로 바꾸어주는 프로그램을 작성하시오.

# ※ 단, 프로그래밍 언어에서 지원하는 금액변환 라이브러리는 사용하지 말것

# 예)

# 숫자   금액
# 1000   1,000
# 20000000   20,000,000
# -3245.24   -3,245.24

a= '1000'
# len(a)
for i in range(len(a)):
    print(a.split())
    # print(i)

TypeError: must be str or None, not type

In [ ]:
# [자바스크립트]
# 1. 여러분 개인에 대한 정보를 바탕으로 객체를 생성하고 출력해보세요.

In [172]:
# 2. 다음과 같이 출력하시오
#   *
#  ***
# *****

#   *
#  ***
# *****
#  ***
#   *
a = 1
for i in range(3,0,-1) :
    print(' '*i,'*'*(a))
    a+=2

b =1 
for i in range(3,0,-1) :
    print(' '*i,'*'*(b))
    b+=2
    if b == 5 :

SyntaxError: incomplete input (3224020267.py, line 20)

In [76]:
# 3. 로또 프로그램을 작성하시오.
import random
lst = []
for i in range(6):
    a = random.choice(range(1,46)) #40개 숫자를 랜덤선택
    lst.append(a)
print(lst)

[21, 40, 9, 6, 18, 6]

In [110]:
# 1.주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.

# 이유덕,이재영,권종표,이재영,박민호,강상희,
# 이재영,김지완,최승혁,이성연,박영서,박민호,
# 전경헌,송정환,김재성,이유덕,전경헌
lst = ['이유덕','이재영','권종표','이재영','박민호','강상희',
'이재영','김지완','최승혁','이성연','박영서','박민호',
'전경헌','송정환','김재성','이유덕','전경헌']

# 4)중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

In [91]:
# 1)김씨와 이씨는 각각 몇 명 인가요?
import re
cnt=0
for i in lst :
    a = re.search('김|이',i)
    if a != None :
        # print(a)
        cnt+=1
print(cnt)

8

In [104]:
# 2)"이재영"이란 이름이 몇 번 반복되나요?
cnt = 0
for i in lst :
    if re.search('이재영',i) != None :
        cnt += 1
        # print(i)
print(cnt)

3

In [106]:
# 3)중복을 제거한 이름을 출력하세요.
print(set(lst))

{'이유덕', '김지완', '박영서', '박민호', '강상희', '송정환', '이재영', '권종표', '최승혁', '김재성', '전경헌', '이성연'}

In [109]:
print(sorted(set(lst)))

['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']