In [5]:
# 1. 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위   영화
# 1   닥터 스트레인지
# 2   스플릿
# 3   럭키
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [6]:
# 2. movie_rank 리스트에 "배트맨"을 추가하라.
movie_rank += ['배트맨']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [9]:
# 4. movie_rank 리스트에서 '럭키'를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
# remove(movie_rank['럭키'])
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [27]:
# 5. movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
# del movie_rank[2, 3]
# movie_rank - ['스플릿']
del movie_rank[3]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [33]:
# 6. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
# price1 = ('20180728', 100, 130, 140, 150, 160, 170)
a = price[1:]
print(a)
# 출력 예시:
# [100, 130, 140, 150, 160, 170]

[100, 130, 140, 150, 160, 170]

In [53]:
# 7.슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [52]:
# 8.슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
# 실행 예:
# [5, 4, 3, 2, 1]
nums[::-1]

[5, 4, 3, 2, 1]

In [36]:
# 9.interest 리스트에는 아래의 데이터가 저장되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
# 출력 예시:
# 삼성전자 Naver
a = interest[0] + ' ' +interest[2]
print(a)

삼성전자 Naver

In [93]:
# 10. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# # interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
# # 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
' '.join(interest)

# ' 지우는법

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [102]:
# 11. interest 리스트에는 아래의 데이터가 저장되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우
a = '\n'.join(interest)
print(a)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [147]:
# 12. 리스트에 있는 값을 오름차순으로 정렬하시오.
data = [2, 4, 3, 1, 5, 10, 9]

xxx

NameError: name 'xxx' is not defined

In [111]:
13. 
# 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
# ※ 문자열 슬라이싱 기법을 사용해 보자.
hong = '881120-1068234'
a = hong.split('-')
print(a)

['881120', '1068234']

In [117]:
14
# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
tu = (1,2,3)
# a= tu + 4
# 튜블은 값 수정이나 변경 불가
# print(a)

TypeError: can only concatenate tuple (not "int") to tuple

In [129]:
15.
# 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A':90, 'B':80, 'C':70}
# ※ 딕셔너리의 pop 함수를 사용해 보자.
# print(a.keys(),a.values())
print(a['B'])

dict_keys(['A', 'B', 'C']) dict_values([90, 80, 70])
80

In [140]:
16.
# 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
# sum = 0
# for i in nums:
#     sum += i
#     print(sum)
a = sum / range(nums)
print(a)

TypeError: 'list' object cannot be interpreted as an integer

In [138]:
# 17.  홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [1, 3, 5, 7, 9]
nums[::2]

[1, 3, 5, 7, 9]

In [139]:
# 18. 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
# 실행 예:
# [5, 4, 3, 2, 1]
nums[::-1]

[5, 4, 3, 2, 1]

In [144]:
# 19. 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름   희망 가격
# 메로나   1000
# 폴라포   1200
# 빵빠레   1800
dic = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
print(dic.keys(),dic.values())
print(dic)

dict_keys(['메로나', '폴라포', '빵빠레']) dict_values([1000, 1200, 1800])
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [146]:
# 20. 위 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

# 이름   희망 가격
# 죠스바   1200
# 월드콘   1500
aa = {'죠스바':1200, '월드콘':1500}
b = dic + aa 
print(b)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [155]:
# 21. a 리스트에서 중복 숫자를 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)
print(b)

{1, 2, 3, 4, 5}

In [181]:
# 22. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수이면서 7의 배수인
# 수의 합을 구해 보자.

i = 0
j = 0
while(i<1000):
    i += 1
    if i % 3 == 0 and i % 7 == 0 :
        j += i
        # print(j)
    # print(i)
print(j)

23688

0

In [156]:
# 23. 다음 구문을 리스트내포 형식의 구문으로 변경하시오.
numbers = [3,5,45,97,32,22,10,19,39,43]
result = []
for number in numbers:
  if number % 2 == 0:
    result.append(number)
print(result)
# 위에 식은 뭐고 append는 뭐임?

# lst1=[4,54,6,74,104]
# lst2=[]

[32, 22, 10]

In [ ]:
# 24. lst1에 저장된 데이터에 각각 6을 더하여 lst2에 저장하시오.

In [ ]:
# 25.  lst1에 저장된 데이터에 대해 제곱한 값이 50보다 크면 lst2에 저장하시오.

In [ ]:
# 26. 중복된 번호를 제외한 로또 번호(6개)를 5줄 생성(다양한 방식)