In [8]:
lst = [2,6,4,3,8,7]
lst.sort()          #오름차순
# lst2 = lst.sort   # lst한테 적용시킨거이기 때문에 안됨
lst.sort(reverse=True)  # 내림차순 (퀵 솔트)
lst
# 직접 구현도 해볼 것

lst2 = ['a', 'h', 'p','s','q','j','d','l']  # 영어도 정렬 가능
lst2.sort()
lst2

lst3 = [[1,3],[2,1],[1,6],[4,4],[5,2]]  # 리스트가 안에 들어있으면 리스트의 인덱스 순으로 비교
lst3.sort()
lst3

lst4 = ['1','a','2','b']    # 숫자 문자 섞이면 숫자 먼저
lst4.sort()
lst4

['1', '2', 'a', 'b']

In [11]:
# 문자열.replace('바뀌귀 전 문자','바뀐 후 문자', (생략 가능 or 횟수))
text = 'Python programming is very fun!'
text.replace('m','p',1)

'Python prograpming is very fun!'

In [15]:
# try - except
lst = [11,'a',22]
# lst.sort()
try:   
    lst.sort()
except TypeError as e:
    print(e)
print(1)

'<' not supported between instances of 'str' and 'int'
1

In [23]:
d = {1:'a', 2:'b'}
try:
    # d['a']<1
    a > 1
except KeyError as e:   # except는 여러개 출력 가능
    print(e)
except Exception as e:
    print(e) # 예외처리 할 경우 출력
else:   # 예외처리가 없을 경우 실행
    print('safe')
print(1)

name 'a' is not defined
1

In [ ]:
# 중요한 사용법은 이것만 알아도 ok
try:
    a > 1
    ...
    ...
except:
    print('error')

print('finish')

In [ ]:
try:    # 일단 실행하고 봄
    # code ....
    f = open('text.txt','r')
finally :   # 터져도 실행하는 코드
    # code ....
    f.close()

In [24]:
# tuple 바뀌지 않는 데이터를 만들어서 사용할 때 씀
t = (1,2)
t[0] # 추출 가능
# t[0] = 2
li = list(t)
li.append(3)

In [25]:
li.insert(3,4)
li.pop()    # 후입선출
li

[1, 2, 3, 4]

In [27]:
a = li.pop()    # 뒷자리를 날림(후입선출)/값을 뽑아냄 ( 리턴 )
a   # 데이터를 날림

3

In [ ]:
# 스택 = 후입선출 => 컴푸터 시스템은 스택 구조 실행
# 큐 = 선입선출 => 데이터 관리에서는 이런식

In [36]:
a = ('Python programming is fun')
b = a.split(' ')
# print(b)
for i in b:
    print(i)

Python
programming
is
fun

In [37]:
a = [10,20,30,40,50]

print(sum(a))

150

In [61]:
a = ('Python programming is fun')
b = a.split(' ')
d = []
for i in b :
    c=0
    for j in i:
        c += 1
    # print(c)
    d.append(c)
print(d)

[6, 11, 2, 3]

In [62]:
nums = [1,2,3,4,5]
a = 0
for i in nums:
    a +=i
print(a)

15

In [63]:
val = (10,20,30,40,50)
print(sum(val))

150

In [72]:
lst = [1,2,3,4,5]
# lst.append(0)
lst.insert(0,0)
lst
# set(lst)

[0, 1, 2, 3, 4, 5]

In [82]:
lst2 = []
for i in range(5,1001):
    if i % 5 == 0:
        # print(i)
        lst2.append(i)
print(lst2)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995, 1000]

In [86]:
a  = []
for i in lst2 :
    if i % 6 == 0 :
        a.append(i)
print(a)

[30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360, 390, 420, 450, 480, 510, 540, 570, 600, 630, 660, 690, 720, 750, 780, 810, 840, 870, 900, 930, 960, 990]

In [90]:
a = [1,2,3,4,5]
b = []
for i in a:
    c = i*i*i
    b.append(c)
print(b)

[1, 8, 27, 64, 125]

In [ ]:
a = [1,2,3,4,5]
b.append

print(i**i, end ='')

In [107]:
words = ["apple", "banana", "orange", "grape"]
a = []
for i in words:
    b = 0
    for j in i :
        b += 1
    a.append(b)
print(a)

[5, 6, 6, 5]

In [110]:
# map
print(list(map(len,words)))

[5, 6, 6, 5]

In [2]:
a = input()
b = a.split(', ')
for i in b:
    print(i)

사과
탕수육
오렌지

In [155]:
text = 'Hello, world!'
cnt = 0
for i in text :
    cnt += 1
print(cnt)
len(text)

13

13

In [159]:
a = text.split('l')
cnt = 0
for i in a :
    for j in i :
        cnt +=1
print(cnt)
a =text.replace('l', '')

10

In [157]:
tu = (1,23,4,5,6)
cnt = 0
for i in tu:
    cnt += 1
print(cnt)
len(tu)

5

5

In [143]:
my_dict = {'a':1, 'b':2, 'c':3}
cnt = 0
for i in my_dict:
    cnt += 1
print(cnt)

3

In [160]:
# 길이를 구할 땐 보통 len 함수, 개수를 구하라고 하면 count()
# 글자의 수(=길이)
len(my_dict)    # dict 도 됨(key와 value를 하나로 묶음)

3

In [151]:
city_info = {
    'name' : 'Seoul',
    'population' : 9741381,
    'country' : 'South Korea',
    'famous_for' : ['K-pop', 'Gangnam Style', 'Palaces']
}
print(city_info.get('country'))
print(city_info.keys()) # list로도

South Korea
dict_keys(['name', 'population', 'country', 'famous_for'])

<h2>리스트내포</h2>

In [165]:
words = ["apple", "banana", "orange", "grape"]
#       x 리스트에 들어갈 데이터 
# lst = [x for x in words]
lst = [x for x in words if 'b' in x]
lst = [x if 'b' in x else print(1) for x in words] # else는 if 뒤에
print(lst)

['banana']

In [175]:
nums = [1,2,3,4]
lst = [x for x in nums]
print(lst)

lst2 = [x*2 for x in nums]
lst2

[1, 2, 3, 4]

[2, 4, 6, 8]

In [ ]:
words = ["apple", "banana", "orange", "grape"]

lst = [x for x in words if 'g' in x]

In [182]:
# 문제
a = []
for i in range(1,11):
    # b= i*i
    # a.append(b)
    a.append(i*i)
print(a)

c = [x*x for x in range(1,11)]
print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [188]:
a=[]
for i in range(2,11,2):
    print(i, end= ' ')
#     a.append(i)
# print(a)

b = [x for x in range(2,11,2)]
print(b)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [211]:
words = ["apple", "banana", 'pitch',"orange", "grape"]
a=[]
for i in words:
    a.append(len(i))
print(a)
lst = [len(x) for x in words]
print(lst)

[5, 6, 5, 6, 5]
[5, 6, 5, 6, 5]

In [246]:
# 1~1000까지 숫자가 들어있는 nums에서 3이 들어가는 것은 '삼' 이라고 담도록 만들고
# '삼'의 개수가 몇개인지 출력
nums = list(range(1,1000))
# print(nums)
a= []
for i in nums:
    if '3' in str(i):   # 숫자끼리는 비교가 어려워서 문자열로 비교
        i = '삼'
        a.append(i)
# print(a)
a.count('삼')

lst = ['삼' for x in nums if '3' in str(x)]
lst.count('삼')

271

In [230]:
'3' in '3'

True