1. 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 
입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 
만드세요. 
input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.
예
입력
health health_regen mana mana_regen
575.6 1.7 338.8 1.63
결과
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}
입력
health mana melee attack_speed magic_resistance
573.6 308.8 600 0.625 35.7
결과
{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

In [2]:
# status1 = {}
status1 = input().split()
# status2 = {input().split()}
status2 = input().split()
status_data = dict(zip(status1,status2))
print(status_data)

{'health': '57'}

2. 표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 
첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 
출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.

예
입력
python
python
결과
yhnpto
입력
apple
strawberry
결과
plsrwer

In [19]:
a = input()
b = input()
print(a[1::2]+b[0::2])

plsrwer

3. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 
사용자로부터 score를 입력받아 학점을 출력하라.

점수   학점
81~100   A
61~80   B
41~60   C
21~40   D
0~20   E
>> score: 83
grade is A

In [24]:
student = int(input())
if student >= 81 :
    grade = 'A'
elif student >= 61 :
    grade = 'B'
elif student >= 41 :
    grade = 'C'
elif student >= 21 :
    grade = 'D'
else:
    grade = 'E'

print('grade is ', grade)

grade is  B

4. for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [33]:
# a=[]
# for i in range(1,101):
#     a.append(i)
# print(a)
lst = [x for x in  range(1,101)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

5.
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [79]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
a = 0
for i in score :
    a+=i
b = a/len(score)
print(b)

79.0

6.
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 
각 통화별 환율은 다음과 같다.
사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에
공백을 넣어 입력한다고 가정한다.

통화명   환율
달러   1367
엔   1.196
유로   1368
위안   181
>> 입력: 100 달러
136700.00 원

In [98]:
currency = {'달러': 1367, '엔': 1.196, '유로': 1368, '위안': 181}
currency_won = input().split()
print(currency.keys())
for i in currency.keys() :
    if currency_won[1] in i :
        a= int(currency_won[0])
        b= a*currency.get(i)
print(b)

dict_keys(['달러', '엔', '유로', '위안'])
1368000

7.
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

>> input number1: 10
>> input number2: 9
>> input number3: 20
20

In [97]:
number1 = int(input())
number2 = int(input())
number3 = int(input())
# print(max(number1, number2, number3))

total = [number1,number2,number3]
a = 0
for i in total :
    if a < i :
        a = i
print(a)

5

8.
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
hello
ex01
intro

In [137]:
lst = ['hello.py', 'ex01.py', 'intro.hwp']
for i in lst:
    a = i.split('.')
    b = a[0]
    print(b)

hello
ex01
intro

9.
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
define.h

In [165]:
lst = ['intra.h', 'intra.c', 'define.h', 'run.py']
b=[]
for i in lst :
    a = i.split('.')
    if a[1] in 'h' :
        # print(i)
        b.append(i) 
print(b)

intra.h
define.h
['intra.h', 'define.h']

10.
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
intra.c
define.h

In [239]:
lst = ['intra.h', 'intra.c', 'define.h', 'run.py']
b = []
for i in lst :
    a = i.split('.')
    # if a[1] in ('h' or 'c'):
    if a[1] in 'h':
        b.append(i)
    if a[1] in 'c':
        b.append(i)
print(b)



# or 'c' 가 왜 안먹히는지 모르겠음

h
c
h
py
['intra.h', 'intra.c', 'define.h']

In [233]:
coffee = 10
money = 300

for i in range(coffee):
    print('돈을 넣어주세요')
    insert_coin = int(input())
    print(insert_coin,'원 ')
    
    if insert_coin == 0 :
        print('종료합니다.')
        break
    elif insert_coin > money :
        return_coin = insert_coin - money
        print('거스름돈',return_coin,'원을 주고 커피를 줍니다.')
    elif insert_coin == money :
        print('커피를 줍니다.')
    elif insert_coin <= money :
        print('돈을 다시 돌려주고 커피를 주지 않습니다.')

돈을 넣어주세요
500 원
거스름돈 200 원을 주고 커피를 줍니다.
돈을 넣어주세요
300 원
커피를 줍니다.
돈을 넣어주세요
300 원
커피를 줍니다.
돈을 넣어주세요
300 원
커피를 줍니다.
돈을 넣어주세요
200 원
돈을 다시 돌려주고 커피를 주지 않습니다.
돈을 넣어주세요
200 원
돈을 다시 돌려주고 커피를 주지 않습니다.
돈을 넣어주세요
0 원
종료합니다.

12. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.
*
**
***
****
*****

In [180]:
i = 0
while(i <= 10):
    i += 1
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********
***********

13
아래 표에서 하나의 행을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

101호   102호   103호
201호   202호   203호

aprt=[[101호,102호,103호],[201호,202호,203호]]

In [184]:
aprt1 = ['101호','102호','103호']
aprt2 = ['201호','202호','203호']
aprt = [aprt1, aprt2]
print(aprt)

[['101호', '102호', '103호'], ['201호', '202호', '203호']]

14
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

시가   종가
100   80
200   210
300   330

stock=[['시가',100,200,300], ['종가',80,210,330]]

In [186]:
stock1 = ['시가',100,200,300]
stock2 = ['종가',80,210,330]
stock = [stock1, stock2]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

15
아래 표를 stock 이름의 딕셔너리로 표현하라. 시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가를 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

시가   종가
100   80
200   210
300   330

In [199]:
stock = {'시가' :[100,200,300],'종가' :[100,200,300]}
# stock1['시가'] = [100,200,300]
# stock1['종가'] = [80,210,330]
print(stock)

{'시가': [100, 200, 300], '종가': [100, 200, 300]}

16
아래 표를 stock 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

10/10   80   110   70   90
10/11   210   230   190   200

In [201]:
stock = {'10/10' : [80, 110, 70, 90], '10/11' : [210, 230, 190, 200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

17
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
101 호
102 호
201 호
202 호
301 호
302 호

In [205]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart :
    for j in i :
        print(j, '호')

101 호
102 호
201 호
202 호
301 호
302 호

18
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
301 호
302 호
201 호
202 호
101 호
102 호

In [208]:
for i in apart[::-1]:
    for j in i :
        print(j,'호')

301 호
302 호
201 호
202 호
101 호
102 호

19
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
302 호
301 호
202 호
201 호
102 호
101 호

In [209]:
for i in apart[::-1] :
    for j in i[::-1]:
        print(j,'호')

302 호
301 호
202 호
201 호
102 호
101 호

20
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호

In [211]:
for i in apart:
    for j in i :
        print(j,'호','\n-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

21
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
101 호
102 호
-----
201 호
202 호
-----
301 호
302 호

In [218]:
for i in apart:
    for j in i:
        print(j,'호')
    print('----')

101 호
102 호
----
201 호
202 호
----
301 호
302 호
----

22
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
101 호
102 호
201 호
202 호
301 호
302 호
-----

In [220]:
for i in apart:
    for j in i:
        print(j,'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----