출력 문제

In [1]:
# 1. 이름과 나이, 거주 지역을 출력하시오
name = '정명훈'
age = '28'
region = '천안'
print(name, age, region)

정명훈 28 천안

In [1]:
# 2. 'Life is too short' 를 출력하시오.
print('Life is too short')

Life is too short

In [5]:
# 3. 
# 나는 대한민국 사람이며
# 충청남도에 거주하는 
# 홍길동이다!
# 라는 문구를 출력하시오(단 print()를 한번만 사용해서 출력할 것)
# print('나는 대한민국 사람이며 \n 충청남도에 거주하는 \n 홍길동이다!')
print('''
나는 대한민국 사람이며
충청남도에 거주하는 
홍길동이다!
      ''')

나는 대한민국 사람이며
충청남도에 거주하는
홍길동이다!

split 문제

In [6]:
# 4. 2번 문장을 분리(split)하여 'Life', 'is', 'too', 'short'를 출력하시오.
x = 'Life is too short'
x.split(' ')

['Life', 'is', 'too', 'short']

In [7]:
# 5. region = '천안,아산,병천,목천' 에서 region의 지역들을 분리하여 지역별로 출력하시오.
region= '천안, 아산, 병천, 목천'
region.split(', ')

['천안', '아산', '병천', '목천']

count 문제

In [8]:
# 6. 5번에서 사용한 변수(region)에 '천'이라는 글자가 들어간 횟수를 출력하시오.
region.count('천')

3

In [17]:
# 7. 'i am study python programming language'라는 문장에 a와 t가 들어간 횟수의 합을 출력하시오.
x = 'i am study python programming language'
i = x.count('a')
print(i)
j = x.count('t')
print(j)
print(int(i)+int(j))

4
2
6

find, index 문제

In [19]:
# 8. 7번에 사용된 문장에서 첫번째로 p가 들어가는 위치를 출력하시오.
x.find('p')

11

In [33]:
# 9. 7번에 사용된 문장에서 programming의 p의 위치를 출력하시오.
x.index('programming')

18

upper, lower 문제

In [43]:
# 10. 'hello' 라는 단어를 대문자로 변경하여 출력하시오.
i = 'hello'
i.upper()

'HELLO'

In [37]:
# 11. 7번에 사용된 문장을 대문자로 변경하여 출력하시오.
print(x.upper())

I AM STUDY PYTHON PROGRAMMING LANGUAGE

In [48]:
# 12. 10번에서 얻은 결과를 다시 소문자로 만들어 출력하시오.
j=i.upper()
print(j)
j.lower()

HELLO

'hello'

strip 문제

In [56]:
# 13. '  hello world!!  ' 왼쪽의 문장의 왼쪽 공백만 제거하여 출력하시오.
x = '  hello world!!  '
x.strip()

'hello world!!'

In [57]:
# 14. 13번의 결과에서 오른쪽 공백을 제거하여 출력하시오.
x.rstrip()

'  hello world!!'

인덱싱 문제

In [63]:
# 15. lst = [1,2,3,4,5,6,7,8,9] lst에서 3을 출력하시오
lst = [1,2,3,4,5,6,7,8,9]
print(lst[2])

3

In [66]:
# 16. lst = [10,20,30,40,50] lst에서 20,30,40을 한번에 추출하시오
lst = [10,20,30,40,50]
print(lst[1:4])

[20, 30, 40]

In [75]:
# 17. 16번의 lst를 거꾸로 출력하시오.
print(lst[::-1])

[50, 40, 30, 20, 10]

In [76]:
# 18. 15번의 lst 변수에서 한번에 1,3,5,7,9를 출력하시오.
lst = [1,2,3,4,5,6,7,8,9]
print(lst[::2])

[1, 3, 5, 7, 9]

In [78]:
# 19. 15번의 lst 변수에서 한번에 9,7,5,3,1을 출력하시오.
print(lst[::-2])

[9, 7, 5, 3, 1]

In [82]:
# 20. 15번의 lst 변수에서 0번째, 3번째, 5번째 인덱스의 합을 출력하시오.
x = lst[0]
y = lst[3]
z = lst[5]
print(x,y,z)

print(x+y+z)

1 4 6
11

list 생성

In [85]:
# 21. 1,2,3이 들어있는 리스트를 생성하시오.
x = [1,2,3]
x

[1, 2, 3]

In [86]:
# 22. 한국의 성씨가 많은 순은 김씨, 이씨, 박씨, 최씨, 정씨 이다. 성씨가 담긴 리스트를 생성하시오.
name = ['김', '이', '박', '최', '정']
name

['김', '이', '박', '최', '정']

range 사용

In [91]:
# 23. 10, 20, 30, 40이 들어있는 리스트를 만드시오.
x = list(range(10,50,10))
x

[10, 20, 30, 40]

In [93]:
# 24. 20부터 40까지 짝수만 들어있는 리스트를 생성하시오.
x = list(range(20,41,2))
x

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [99]:
# 25. 1부터 50까지 5의 배수인 것만 담긴 리스트를 생성하시오.
x = list(range(0,51,5))
x

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

if문 사용

In [172]:
# [서울=뉴시스]이인준 기자 = 챗GPT 같은 생성형 AI를 통해 한국의 기업 생산량이 최대 620조원(4763억달러) 증가할 수 있다는 분석이 제기됐다.
# 대한상공회의소가 28일 마이크로소프트, 영국 컨설팅그룹 엑세스파트너십과 함께 발간한 '생성형 AI가 한국경제에 미치는 영향 보고서'에 따르면 
# 생성형 AI 적용에 따른 한국 경제의 잠재적 생산역량(productive capacity)은 지난해 국내총생산(GDP) 2150조6000억원(명목) 대비 29%에 달한다.
# 26. 위 문장에서 '한'이라는 글자가 들어가 있다면 '한'이라는 글자가 들어간횟수를 출력, 없다면 '없음'을 출력하시오.
x= '[서울=뉴시스] 짬뽕 탕수육 이인준 기자 = 챗GPT 같은 생성형 AI를 통해 한국의 기업 생산량이 최대 620조원(4763억달러) 증가할 수 있다는 분석이 제기됐다. 대한상공회의소가 28일 마이크로소프트, 영국 컨설팅그룹 엑세스파트너십과 함께 발간한 \'생성형 AI가 한국경제에 미치는 영향 보고서\'에 따르면 생성형 AI 적용에 따른 한국 경제의 잠재적 생산역량(productive capacity)은 지난해 국내총생산(GDP) 2150조6000억원(명목) 대비 29%에 달한다.'
# x.count('한')
y = '한'
if y in x :
    print(x.count('한'))
else:
    print('없음')

# if(x == '한'):
#     x.count('한')
# elif(x != '한'):
#     print('없음')

6

In [168]:
# 27. 26번의 문장에서 '짬뽕'이라는 단어가 들어갔다면 '짬뽕', 안들어갔다면 '없네...'를 출력하시오.
y = '짬뽕'
if y in x :
    print('짬뽕')
else :
    print('없네')

짬뽕

True or False

In [171]:
# 28. []가 True인지 False인지 출력하시오.
# [] == True
# 29. 1이 True인지 False인지 출력하시오.
# 1 == True
# 30. 26번 문장에서 '탕수육'이라는 글자가 있으면 '탕수육'을, 없으면 'False'을 출력하시오.
y = '탕수육'
if y in x:
    print('탕수육')
else:
    print('False')

탕수육